<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @document_page.document_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @document_page.image %>
</p>

<%= link_to 'Edit', edit_document_page_path(@document_page) %> |
<%= link_to 'Back', document_pages_path %>
